h1 {
  padding-left: 40px;
  color: rgb(255, 69, 0);
}

button:hover {
  background-color: rgb(255, 69, 0);
  color: white;
  border-radius: 5px;
}

.search {
  padding-left: 40px;
}

#btn1 {
  margin-left: 50px;
}

form {
  display: inline;
}

.pageIndex {
  display: inline;
}

/* 
.flexContainer {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
} */

.flexContainer {
  columns: 5;
  column-gap: 0px;
}

@media (max-width: 1100px) {
  .flexContainer {
    columns: 4;
    column-gap: 0px;
  }
}

@media (max-width: 900px) {
  .flexContainer {
    columns: 3;
    column-gap: 0px;
  }
}

@media (max-width: 675px) {
  .flexContainer {
    columns: 2;
    column-gap: 0px;
  }
}
